

.bgImg{
    background: url("../../img/1.jpg");
    animation: ani2 1s forwards;
}
.bgImg2{
    background: url("../../img/2.jpg");
    animation: ani2 1s forwards;
}
.bgImg3{
    background: url("../../img/3.jpg");
    animation: ani2 1s forwards;
}
.bgImg4{
    background: url("../../img/b3.jpg");

}
.bgImg,.bgImg2,.bgImg3,.bgImg4{
    width: 100%;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
   
}

.bgImg,.bgImg2,.bgImg3,.bgImg4 {
    a{
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
        background-color:#40a944;
    }
}
.bgImg,.bgImg2,.bgImg3,.bgImg4{
    a:hover{
        background-color: black;
    }
}
// phan nay cua dot
.dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: 0.3s;
}
.dot:hover{
    background-color: #40a944;
    
}
.active{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #40a944;
#textAppear{
    animation: ani3 1s forwards;

}
}

@keyframes ani2{
	from{
		transform: scale(0.9);
		opacity: 0;

	}
	to{
		transform: scale(1);
		opacity: 1;

	}
}
