.footer{
    a{
        text-decoration: none;
        color: #6c6c6c;
    }
    a:hover{
        color: #40a944;
    }
}
@media screen and (max-width: 992px) {
    .raGiua1 {
        text-align: center;
      }
    .raGiua {
      text-align: center;
    }
  }