

//phan nay cua  the a
.deals{
     a{
    text-decoration: none;
    color: #6c6c6c;
    }
    a:hover{
        color: #40a944;
    }
    #divHover:hover .listIcon{
        display: block;
    }
    #divHover:hover #bgImg{
        background-image: url(../../img/mango.jpg);
        transition: 0.4s;
    }
    #divHover:hover #bgImg2{
        background-image: url(../../img/m6.jpg);
        transition: 0.4s;
    }
    #divHover:hover #bgImg3{
        background-image: url(../../img/m9.jpg);
        transition: 0.4s;
    }
    #divHover:hover #bgImg4{
        background-image: url(../../img/m10.jpg);
        transition: 0.4s;
    }
    #divHover:hover #bgImg5{
        background-image: url(../../img/m8.jpg);
        transition: 0.4s;
    }
    
    #bgImg{
        width: 250px;
        height: 250px;
        background-image: url(../../img/m5.jpg);
        background-size: cover;
        cursor: pointer;
        transition: 0.4s;
        margin: auto;
    }
    #bgImg2{
        width: 250px;
        height: 250px;
        background-image: url(../../img/m4.jpg);
        background-size: cover;
        cursor: pointer;
        transition: 0.4s;
        margin: auto;
    }
    #bgImg3{
        width: 250px;
        height: 250px;
        background-image: url(../../img/m1.jpg);
        background-size: cover;
        cursor: pointer;
        transition: 0.4s;
        margin: auto;
    }
    #bgImg4{
        width: 250px;
        height: 250px;
        background-image: url(../../img/salas.jpg);
        background-size: cover;
        cursor: pointer;
        transition: 0.4s;
        margin: auto;
    }
    #bgImg5{
        width: 250px;
        height: 250px;
        background-image: url(../../img/tr1.jpg);
        background-size: cover;
        cursor: pointer;
        transition: 0.4s;
        margin: auto;
    }
    #bgImg:hover{
        background-image: url(../../img/m7.JPG);
        transition: 0.4s;
   }
   #bgImg:hover .listIcon{
    display: block;
    }
   .listIcon{
    display: none;
    width: 140px;
    height: 28px;
    border-radius: 14px;
    padding: 2px 0px;
    background: white;
    position: relative;
    padding: 6px 0;
    left: 23%;
    top: 75%;
    animation: 0.4s text forwards;
    .spanIcon{
        // border: 2px solid red;
        width: 23px;
        height: 23px;
        border-radius: 15px;
        padding: 2px 2px;
    }
    .spanIcon:hover{
       background:#40a944;
    }
   }
}
@keyframes text {
    from{
        transform: translateY(15px);
    }
    to{
        transform: translateY(0);
    }
}



