
body{
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family:monospace;
  color: #222222;
  height: 100%;
  width: 100%;
}
.pageActive{
  color: #40A944;
}
::selection {
  background-color: #7b1fa2;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
